#app input {
  font-family: inherit;
}

#app .ui.active.selection.dropdown.current {
  border-radius: 0.28571429rem !important;
  box-shadow: none;
}

#app .ui.header {
  margin: 2rem 0;
  cursor: pointer;
}

#app .ui.search.dropdown {
  margin-bottom: 2rem;
}

#app .ui.search.dropdown .menu {
  max-height: none;
}

#app .ui.table thead th.sortable {
  cursor: pointer;
}

#app .unselectable {
  user-select: none;
}
